/* Stile per lo step attivo */
.p-steps .p-steps-item.p-highlight .p-steps-number {
    background-color: #b97533;
    border-color: #b97533;
}

.p-steps .p-steps-item.p-highlight .p-menuitem-link {
    color: #b97533;
}

/* Stile per l'icona di tick quando uno step è completato (opzionale) */
.p-steps .p-steps-item.p-state-highlight .p-steps-number {
    background-color: #b97533;
    border-color: #b97533;
}

.p-steps .p-steps-item.p-state-highlight .p-menuitem-link {
    color: #b97533;
}
